<script type="text/javascript">
    $(document).ready(function(){
        $(".fp-responsive #ml_memu").click(function(){
           $(".fp-responsive #left-menu-wrapper").addClass("show");
           $(".fp-responsive .left-menu-bg--is-mobile").addClass("active");
         })
         $(".fp-responsive .left-menu-bar--active-btn, .fp-responsive .left-menu-bg--is-mobile, .fp-responsive #menu").click(function(){
           $(".fp-responsive #left-menu-wrapper").addClass("hide").removeClass("show");
           $(".fp-responsive .left-menu-bg--is-mobile").removeClass("active");
         })
    })
</script> 
<style>
    .blinkText {
        animation: blinker 1s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>
<script type="text/javascript">
    var ajaxRet;
    var originArr = new Array();
    var newArr = new Array();

    function sendAjax(){
        // content-type을 설정하고 데이터 송신
        var xhr = new XMLHttpRequest();
        xhr.open('POST', document.URL.split("#")[0]+'api');
        xhr.setRequestHeader('Content-type', "application/json");
        xhr.send();
        
        var tempObjArr = document.getElementsByClassName("left-menu-bar__contents-list")[0].getElementsByTagName("ul")[0].getElementsByTagName("li");
        
        // 데이터 수신이 완료되면 표시
        xhr.addEventListener('load', function(){
            ajaxRet = JSON.parse(xhr.responseText);
            //"pegDon","pesDon","goldBuy","goldSell","excRate","investRate","kospi","kosdaq","dji","nasdaq","btc","dubai","eth","pegGram","pesGram",
            var tempClass;
            var tempColor;
            var tempFontWeight;
            var tempVal = 0;
            var tempStr;
            var tempObj;
            
            for(var i=0 ; i<tempObjArr.length;i++){
                // if(originArr.length>0)alert(tempStr +":"+originArr[i]+":"+ajaxRet[i].thisValue);
                tempObj = tempObjArr[i].getElementsByTagName("span")[1];
                tempStr = Number.parseFloat(tempObj.innerText);
                tempVal = originArr[i] - ajaxRet[i].thisValue;
                
                originArr.reduce[i];

                if(tempStr!=0 && tempVal>0){
                    tempColor = "blue";
                    tempClass = "blinkText";
                    tempFontWeight = "bold";
                }else if(tempStr!=0 && tempVal<0){
                    tempColor = "red";
                    tempClass = "blinkText";
                    tempFontWeight = "bold";
                }else{
                    tempColor = "black";
                    tempClass = "";
                    tempFontWeight = "";
                }

                originArr[i] = ajaxRet[i].thisValue;
                tempObj.innerText = new Intl.NumberFormat('ko-KR', { style: 'decimal', maximumFractionDigits: 2}).format(ajaxRet[i].thisValue)
                tempObj.style.color =  tempColor;
                tempObj.className = tempClass;
                tempObj.style.fontWeight = tempFontWeight
            }
        });
    }
    window.setInterval("sendAjax()", 10000);
</script>

 <div id="gnb">
    <h1><a href="/" class="logo">한국금거래소디지털에셋 센골드</a></h1>
    <button data-gnb-active="mobile-button" type="button" id="ml_memu">메뉴 열기/닫기</button>
</div>
<!--//gnb only for Mobile-->
<!--left-menu-bar section-->
<div id="left-menu-wrapper" class="">
    <a href="javascript:;" class="left-menu-bar--active-btn">활성화</a>
    <div id="left-menu-bar" class="left-menu-bar">
        <div class="left-menu-bar--top-section">
            <h1 class="left-menu-bar__logo"><a href="/">생활투자 서비스</a></h1>
            <ul id="menu" class="left-menu-bar__category-list">
                <li class="left-menu-bar__category-list--list01" data-tooltip="is-first" data-scroll-point="contents--section1" data-menuanchor="is-first">
                    <a href="#is-first"><span>센골드</span></a>
                </li>
                <li class="left-menu-bar__category-list--list02" data-tooltip="is-third" data-scroll-point="contents--section2" data-menuanchor="is-third">
                    <a href="#is-third"><span>서비스</span></a>
                </li>
                <li class="left-menu-bar__category-list--list03" data-tooltip="is-seventh" data-scroll-point="contents--section6" data-menuanchor="is-seventh">
                    <a href="#is-seventh"><span>문화</span></a>
                </li>
                <li class="left-menu-bar__category-list--list04" data-tooltip="is-eighth" data-scroll-point="contents--section7" data-menuanchor="is-eighth">
                    <a href="#is-eighth"><span>소식</span></a>
                </li>
                <li class="left-menu-bar__category-list--list05" data-tooltip="is-nineth" data-scroll-point="contents--section8" data-menuanchor="is-nineth">
                    <a href="#is-nineth"><span>CONTACT US</span></a>
                </li>
            </ul>
        </div>
        <div class="left-menu-bar--bottom-section">
            <div class="left-menu-bar__contents-list">
                <ul>
                    <!--new 아이콘 추가 시, span 태그 추가-->
                    <li>
                        <span>센골드 e금 시세</span></br>
                        <span id='pegDon'><%=pegDon%></span><span> 원/돈</span>
                    </li>
                    <li>
                        <span>센골드 e은 시세</span></br>
                        <span id='pesDon'><%=pesDon%></span><span> 원/돈</span>
                    </li> 
                    <li>
                        <span>금 살때 소매시세</span></br>
                        <span id='goldBuy'><%=goldBuy%></span><span> 원/돈</span>
                    </li>
                    <li>
                        <span>금 팔 때 소매시세</span></br>
                        <span id='goldSell'><%=goldSell%></span><span> 원/돈</span>
                    </li>
                    <li>
                        <span>원/달러 환율</span></br>
                        <span id='excRate'><%=excRate%></span><span> 원/$</span>
                    </li>
                    <li>
                        <span>국고채3년 금리</span></br>
                        <span id='investRate'><%=investRate%></span><span> %</span>
                    </li>
                    <li>
                        <span>KOSPI</span></br>
                        <span id='kospi'><%=kospi%></span><span> point</span>
                    </li>
                    <li>
                        <span>KOSDAQ</span></br>
                        <span id='kosdaq'><%=kosdaq%></span><span> point</span>
                    </li>
                    <li>
                        <span>Dow Jones</span></br>
                        <span id='dji'><%=dji%></span><span> point</span>
                    </li>
                    <li>
                        <span>NASDAQ</span></br>
                        <span id='nasdaq'><%=nasdaq%></span><span> point</span>
                    </li>
                    <li>
                        <span>BitCoin</span></br>
                        <span id='btc'><%=btc%></span><span> 원/btc</span>
                    </li>
                    <li class="last">
                        <span>국제유가(두바이유)</span></br>
                        <span id='dubai'><%=dubai%></span><span> $/배럴</span>
                    </li>
                </ul>
            </div>
            <div class="left-menu-bar__sns-list">
                <ul>
                    <li><a href="https://www.youtube.com/channel/UCqZwkP5qKoRttaLn7j3aTiw" target="_blank">Youtube</a></li>
                    <li><a href="https://www.instagram.com/cen_gold/" target="_blank">Instagram</a></li>
                    <li><a href="https://blog.naver.com/cengold" target="_blank">Blog</a></li>
                    <li class="last"><a href="https://bit.ly/36TFtnj" target="_blank"> Facebook </a></li>
                </ul>
            </div>
            <div class="left-menu-bar__copyright">
                <dfn>㈜한국금거래소디지털에셋</dfn>
                <dl>
                    <dt>대표이사 : 김종인</dt>
                    <dd></dd>
                </dl>
                <dl>
                    <dt>서울시 종로구 돈의동 돈화문로5가 길1 피카디리플러스 7층</dt>
                    <dd></dd>
                </dl>
                <p>Copyright © KoreaDA. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<!--//left-menu-bar section-->
<div class="left-menu-bg--is-mobile"></div>
